$primary: rgb(13, 29, 44);
$secondary: rgb(33, 80, 124);
$gray-light: rgb(228, 228, 228);
$light-blue: rgb(190, 209, 226);

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    gray-light: $gray-light,
    light-blue: $light-blue,
);

